/*font-family: "Poppins", sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    outline: none;
}

body {
    background-color: #8a51fc;
}

.logo {
    width: 300px;
    height: 300px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

main {
    margin: 0 auto 40px;
    width: 375px;
    background-color: #F4F4F4;
    border-radius: 20px;
    text-align: center;
    padding: 20px;
}

label {
    display: block;
    color: #777777;
    font-size: 14px;
    font-weight: 400;
}

select, input {
    text-align: center;
    background: #FFFFFF;
    border: 1px solid #BBBBBB;
    border-radius: 4px;
    height: 48px;
    width: 100%;
    margin-bottom: 24px;
    appearance: none;
    font-weight: 700;
    font-size: 16px;
}

button{
    border: none;
    background-color: #8a51fc;
    color: white;
    width: 100%;
    height: 48px;
    border-radius: 4px;
    margin-bottom: 20px;
    transition: ease 0.5s;
}

button:hover{
    transform: scale(1.05);
    cursor: pointer;
    background-color: #ba97ff;
    color: #4e00eb;
}

button:active{
    opacity: 0.4;
}

section{
    border: 1px solid #772fd3;
    border-radius: 8px;
    padding: 10px;
    margin-top: 15px;
    
}

.arrow{
    margin: 15px 0;
    transition: ease 0.3s;
}

.arrow:hover{
    transform: scale(1.2);
}

.first-coin, .second-coin{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
}

.currency{
    font-weight: 700;
    font-size: 16px;
    color: #777777;
}

.currency-value{
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}